:root {
  --headline-font: "roc-grotesk", sans-serif;
  --paragraph-font: "DM Sans", sans-serif;
  --primary-color: #070394;
  --secondary-color: #eeedff;
}

h1 {
  font-family: var(--headline-font);
  font-size: 30px;
}

h2 {
  font-family: var(--paragraph-font);
  font-size: 21px;
}

p {
  font-family: var(--paragraph-font);
  font-size: 16px;
}

.hero {
  text-align: center;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-contact {
  margin-top: 10px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-family: var(--paragraph-font);
  font-size: 14px;
}

.btn-contact:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #ffffff;
}

.content1 {
  margin: 0 10px;
  padding: 0;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  border: none;
  box-shadow: none;
}

.navbar-toggler:hover {
  transform: rotate(90deg);
  transition: transform 0.4s ease-in-out;
}

.disciplines {
  background-color: var(--secondary-color);
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 200px;
}

#disciplines {
  color: var(--primary-color);
}

i {
  padding: 30px;
  font-size: 31px;
}

#disciplines:hover {
  color: red;
}

.navbar {
  padding-left: 50px;
  padding-right: 50px;
}

footer {
  margin: 80px;
}

.footerText {
  font-size: 36px;
  font-weight: 900;
  line-height: 40px;
}

.connectIcons {
  padding: 0;
}

#instagram,
#xing,
#linkedin {
  font-size: 25px;
}

.imprintLinks a {
  color: black;
}
