:root {
  --headline-font: "roc-grotesk", sans-serif;
  --paragraph-font: "DM Sans", sans-serif;
  --primary-color: #070394;
  --secondary-color: #eeedff;
}

h1 {
  font-family: var(--headline-font);
  font-size: 30px;
}

h2 {
  font-family: var(--paragraph-font);
  font-size: 21px;
}

p {
  font-family: var(--paragraph-font);
  font-size: 16px;
}

.hero {
  text-align: center;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-contact {
  margin-top: 10px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-family: var(--paragraph-font);
  font-size: 14px;
}

.btn-contact:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #ffffff;
}

.content1 {
  margin: 0 10px;
  padding: 0;
}

.design,
.miscellaneous {
  background-color: var(--secondary-color);
}

.design,
.miscellaneous,
.coding {
  height: 900px;
}

.designTeaser,
.codingTeaser,
.miscellaneousTeaser {
  padding: 50px;
}

.navbar-toggler {
  border: yellow;
}
