:root {
  --headline-font: "roc-grotesk", sans-serif;
  --paragraph-font: "DM Sans", sans-serif;
}

h1 {
  font-family: var(--headline-font);
  font-size: 30px;
}

h2 {
  font-family: var(--paragraph-font);
  font-size: 21px;
}

p {
  font-family: var(--paragraph-font);
  font-size: 16px;
}

.hero {
  text-align: center;
  height: 600px;
  background-color: cornsilk;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  margin-top: 45px;
}

.btn-contact {
  margin-top: 10px;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid black;
  color: black;
  font-family: var(--paragraph-font);
  font-size: 14px;
}
